.sunEvent {
  // padding: 1rem;
  height: calc(25vh - 35px);

  p {
    margin-top: 0;
    line-height: 1;
    vertical-align: top;
  }
}

.sunEvent p {
  opacity: 0.5;
  font-size: 1.4rem;
  font-weight: 300;
}

.sunEvent.active p {
  opacity: 1;
  font-weight: 500;
}

.eventMoments,
.eventType {
  padding: 1rem;
}

.eventType {
  height: 100%;
  border-right: 5px solid red;
  text-align: right;
}
