.sunEvent {
  // padding: 1rem;
  p {
    margin-top: 0;
    line-height: 1;
    vertical-align: top;
  }
}

.sunEvent.active {
  .eventType, .eventMoment {
    font-size: 150%;
  }
}

.eventMoments,
.eventType {
  padding: 1rem;
}

.eventType {
  height: 100%;
  border-right: 5px solid red;
  text-align: right;
}
